In [1]:
import pandas as pd
import numpy as np
import sys

# to display all columns of a dataframe
pd.set_option('display.max_columns', 42) # use this to see all the columns in a df display
np.set_printoptions(threshold=sys.maxsize) # use this to see full arrays without truncation

In [2]:
artists = pd.read_csv('artists.csv', dtype='unicode')
artworks = pd.read_csv('artworks.csv', dtype='unicode')

In [3]:
artists.head()

  Artist ID             Name Nationality Gender Birth Year Death Year
0         1   Robert Arneson    American   Male       1930       1992
1         2   Doroteo Arnaiz     Spanish   Male       1936        NaN
2         3      Bill Arnold    American   Male       1941        NaN
3         4  Charles Arnoldi    American   Male       1946        NaN
4         5      Per Arnoldi      Danish   Male       1941        NaN

In [4]:
artworks.head()

,Artwork ID,Title,Artist ID,Name,Date,Medium,Dimensions,Acquisition Date,Credit,Catalogue,Department,Classification,Object Number,Diameter (cm),Circumference (cm),Height (cm),Length (cm),Width (cm),Depth (cm),Weight (kg),Duration (s)
0,33599,Study for Head Bath,1,Robert Arneson,1977,Conté crayon and pencil on paper,"41 5/8 x 29 7/8"" (105.8 x 75.8 cm)",4/28/1981,Gift of the Friends of Contemporary Drawing,Y,Drawings,Drawing,67.1981,NaN,NaN,105.7,NaN,75.9,NaN,NaN,NaN
1,64139,General Nuke,1,Robert Arneson,1986,Lithograph,"composition (irreg.): 31 11/16 x 23 5/16"" (80....",5/28/1997,Gift of Landfall Press,Y,Prints & Illustrated Books,Print,192.1997,NaN,NaN,80.5,NaN,59.2,NaN,NaN,NaN
2,61629,BAS-RELIEF,2,Doroteo Arnaiz,NaN,"Etching, printed in color","Plate 21 1/2 x 15 5/8"" (54.7 x 39.7 cm) Sheet ...",3/9/1965,Gift of the artist,N,Prints & Illustrated Books,Print,87.1965,NaN,NaN,54.7,NaN,39.7,NaN,NaN,NaN
3,45972,Honey under Sink,3,Bill Arnold,1971,Microfilm reader-printer machine print,"15 x 22 7/8"" (38.1 x 58.2 cm)",3/7/1972,Purchase,Y,Photography,Photograph,87.1972,NaN,NaN,38.1,NaN,58.2,NaN,NaN,NaN
4,45997,Honey under Chair,3,Bill Arnold,1971,Microfilm reader-printer machine print,"15 x 22 3/4"" (38.1 x 57.8 cm)",3/7/1972,Purchase,Y,Photography,Photograph,88.1972,NaN,NaN,38.1,NaN,57.8,NaN,NaN,NaN

In [5]:
# fix the formatting of the column headers
artists.columns = artists.columns.str.replace(' ','_').str.lower()
artworks.columns = artworks.columns.str.replace(' ','_').str.lower().str.replace('(','').str.replace(')','')

C:\Users\BRIONN~1.DOW\AppData\Local\Temp/ipykernel_5784/310035200.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  artworks.columns = artworks.columns.str.replace(' ','_').str.lower().str.replace('(','').str.replace(')','')

In [6]:
whole = pd.merge(artworks, artists, on='artist_id', how='left')
whole.head()

,artwork_id,title,artist_id,name_x,date,medium,dimensions,acquisition_date,credit,catalogue,department,classification,object_number,diameter_cm,circumference_cm,height_cm,length_cm,width_cm,depth_cm,weight_kg,duration_s,name_y,nationality,gender,birth_year,death_year
0,33599,Study for Head Bath,1,Robert Arneson,1977,Conté crayon and pencil on paper,"41 5/8 x 29 7/8"" (105.8 x 75.8 cm)",4/28/1981,Gift of the Friends of Contemporary Drawing,Y,Drawings,Drawing,67.1981,NaN,NaN,105.7,NaN,75.9,NaN,NaN,NaN,Robert Arneson,American,Male,1930,1992
1,64139,General Nuke,1,Robert Arneson,1986,Lithograph,"composition (irreg.): 31 11/16 x 23 5/16"" (80....",5/28/1997,Gift of Landfall Press,Y,Prints & Illustrated Books,Print,192.1997,NaN,NaN,80.5,NaN,59.2,NaN,NaN,NaN,Robert Arneson,American,Male,1930,1992
2,61629,BAS-RELIEF,2,Doroteo Arnaiz,NaN,"Etching, printed in color","Plate 21 1/2 x 15 5/8"" (54.7 x 39.7 cm) Sheet ...",3/9/1965,Gift of the artist,N,Prints & Illustrated Books,Print,87.1965,NaN,NaN,54.7,NaN,39.7,NaN,NaN,NaN,Doroteo Arnaiz,Spanish,Male,1936,NaN
3,45972,Honey under Sink,3,Bill Arnold,1971,Microfilm reader-printer machine print,"15 x 22 7/8"" (38.1 x 58.2 cm)",3/7/1972,Purchase,Y,Photography,Photograph,87.1972,NaN,NaN,38.1,NaN,58.2,NaN,NaN,NaN,Bill Arnold,American,Male,1941,NaN
4,45997,Honey under Chair,3,Bill Arnold,1971,Microfilm reader-printer machine print,"15 x 22 3/4"" (38.1 x 57.8 cm)",3/7/1972,Purchase,Y,Photography,Photograph,88.1972,NaN,NaN,38.1,NaN,57.8,NaN,NaN,NaN,Bill Arnold,American,Male,1941,NaN

In [7]:
# let's drop work where there are no artwork ids since no art information is available
whole.dropna(subset=['artwork_id'])

,artwork_id,title,artist_id,name_x,date,medium,dimensions,acquisition_date,credit,catalogue,department,classification,object_number,diameter_cm,circumference_cm,height_cm,length_cm,width_cm,depth_cm,weight_kg,duration_s,name_y,nationality,gender,birth_year,death_year
0,33599,Study for Head Bath,1,Robert Arneson,1977,Conté crayon and pencil on paper,"41 5/8 x 29 7/8"" (105.8 x 75.8 cm)",4/28/1981,Gift of the Friends of Contemporary Drawing,Y,Drawings,Drawing,67.1981,NaN,NaN,105.7,NaN,75.9,NaN,NaN,NaN,Robert Arneson,American,Male,1930,1992
1,64139,General Nuke,1,Robert Arneson,1986,Lithograph,"composition (irreg.): 31 11/16 x 23 5/16"" (80....",5/28/1997,Gift of Landfall Press,Y,Prints & Illustrated Books,Print,192.1997,NaN,NaN,80.5,NaN,59.2,NaN,NaN,NaN,Robert Arneson,American,Male,1930,1992
2,61629,BAS-RELIEF,2,Doroteo Arnaiz,NaN,"Etching, printed in color","Plate 21 1/2 x 15 5/8"" (54.7 x 39.7 cm) Sheet ...",3/9/1965,Gift of the artist,N,Prints & Illustrated Books,Print,87.1965,NaN,NaN,54.7,NaN,39.7,NaN,NaN,NaN,Doroteo Arnaiz,Spanish,Male,1936,NaN
3,45972,Honey under Sink,3,Bill Arnold,1971,Microfilm reader-printer machine print,"15 x 22 7/8"" (38.1 x 58.2 cm)",3/7/1972,Purchase,Y,Photography,Photograph,87.1972,NaN,NaN,38.1,NaN,58.2,NaN,NaN,NaN,Bill Arnold,American,Male,1941,NaN
4,45997,Honey under Chair,3,Bill Arnold,1971,Microfilm reader-printer machine print,"15 x 22 3/4"" (38.1 x 57.8 cm)",3/7/1972,Purchase,Y,Photography,Photograph,88.1972,NaN,NaN,38.1,NaN,57.8,NaN,NaN,NaN,Bill Arnold,American,Male,1941,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130257,217844,Club 57 Shows: Playboy Bunny Night (at Mudd Club),NaN,NaN,1980,Video,NaN,2016-10,Gift of Barry Shils,N,Film,Video,819142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130258,217972,"Judson Church, Ray Gun Specs, etc",NaN,NaN,NaN,Cassette,NaN,10/8/2008,The Gilbert and Lila Silverman Fluxus Collecti...,N,Fluxus Collection,Media,FC5027,NaN,NaN,0,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130259,217981,Fluxus Festival,NaN,NaN,1962,Audio reel,NaN,10/8/2008,The Gilbert and Lila Silverman Fluxus Collecti...,N,Fluxus Collection,Media,FC5036,NaN,NaN,0,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130260,217984,Fluxus-Manifestatie in en Rond Kunsthandel Monet,NaN,NaN,1962,VHS,NaN,10/8/2008,The Gilbert and Lila Silverman Fluxus Collecti...,N,Fluxus Collection,Media,FC5039,NaN,NaN,0,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130261,217986,Unidentified,NaN,NaN,NaN,Cassette,NaN,10/8/2008,The Gilbert and Lila Silverman Fluxus Collecti...,N,Fluxus Collection,Media,FC5041,NaN,NaN,0,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# the data types are all objects, so we will need to convert those that shouldn't be objects
whole.dtypes

artwork_id          object
title               object
artist_id           object
name_x              object
date                object
medium              object
dimensions          object
acquisition_date    object
credit              object
catalogue           object
department          object
classification      object
object_number       object
diameter_cm         object
circumference_cm    object
height_cm           object
length_cm           object
width_cm            object
depth_cm            object
weight_kg           object
duration_s          object
name_y              object
nationality         object
gender              object
birth_year          object
death_year          object
dtype: object

In [9]:
# this uncovered a casing issue which we will fix below
whole['gender']= whole['gender'].str.title()

# we need to replace those NaNs with a categorical identifier like "Gender Unknown"
whole['gender'] = whole['gender'].fillna('Gender Unknown')

In [10]:
whole.gender.unique()

array(['Male', 'Female', 'Gender Unknown'], dtype=object)

In [11]:
# make a new df with only the columns you need
select = whole.loc[:,['artwork_id', 'title', 'artist_id', 'name_x', 'date', 'acquisition_date', 'credit', 'classification','weight_kg', 'nationality', 'gender', 'birth_year', 'death_year']]
select.head()

,artwork_id,title,artist_id,name_x,date,acquisition_date,credit,classification,weight_kg,nationality,gender,birth_year,death_year
0,33599,Study for Head Bath,1,Robert Arneson,1977,4/28/1981,Gift of the Friends of Contemporary Drawing,Drawing,NaN,American,Male,1930,1992
1,64139,General Nuke,1,Robert Arneson,1986,5/28/1997,Gift of Landfall Press,Print,NaN,American,Male,1930,1992
2,61629,BAS-RELIEF,2,Doroteo Arnaiz,NaN,3/9/1965,Gift of the artist,Print,NaN,Spanish,Male,1936,NaN
3,45972,Honey under Sink,3,Bill Arnold,1971,3/7/1972,Purchase,Photograph,NaN,American,Male,1941,NaN
4,45997,Honey under Chair,3,Bill Arnold,1971,3/7/1972,Purchase,Photograph,NaN,American,Male,1941,NaN

In [12]:
# let's see what items are most prevalent in our dataset
select.describe(include=['object'])

,artwork_id,title,artist_id,name_x,date,acquisition_date,credit,classification,weight_kg,nationality,gender,birth_year,death_year
count,130262,130210,128802,128802,127950,124799,127192,130262,298,119063,130262,115218,77162
unique,130262,94881,13575,13530,9370,1876,7030,28,200,121,3,215,163
top,33599,Untitled,229,Eugène Atget,1971,10/6/1964,The Louis E. Stern Collection,Print,4.536,American,Male,1857,1927
freq,1,7180,5050,5050,1748,11220,10927,30807,6,54545,99984,5111,5136

In [13]:
select.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 130262 entries, 0 to 130261
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   artwork_id        130262 non-null  object
 1   title             130210 non-null  object
 2   artist_id         128802 non-null  object
 3   name_x            128802 non-null  object
 4   date              127950 non-null  object
 5   acquisition_date  124799 non-null  object
 6   credit            127192 non-null  object
 7   classification    130262 non-null  object
 8   weight_kg         298 non-null     object
 9   nationality       119063 non-null  object
 10  gender            130262 non-null  object
 11  birth_year        115218 non-null  object
 12  death_year        77162 non-null   object
dtypes: object(13)
memory usage: 13.9+ MB

In [14]:
# let's start handling dates - first up acquisition year
select['acquisition_year'] = select['acquisition_date'].str[-4:]
select['acquisition_year'] = select['acquisition_year'].fillna(0)
select = select[select['acquisition_year'] != '0-18']
select['acquisition_year'].replace({'6-05': '2016', '6-10':'2016'}, inplace=True)
select['acquisition_year'] = select['acquisition_year'].astype(str).astype(int)
select.acquisition_year.unique()

array([1981, 1997, 1965, 1972, 1980, 1979, 1952, 1956, 1953, 1945, 1960,
       1975, 1970, 1963, 1950, 1958, 1947, 1951, 1949, 1964, 1936, 1937,
       1954, 1939, 1967, 1940, 1969, 1961, 1968, 1990, 1985, 2008, 2013,
       1988, 1942, 1996, 1999, 1998, 1992, 1977, 1978, 1991, 1994, 1971,
       2001, 2002, 2005, 2012, 2015,    0, 1974, 1983, 1984, 1982, 1966,
       2000, 1946, 1943, 2004, 1987, 1993, 1941, 1959, 1995, 1986, 2006,
       2007, 2009, 2010, 2011, 1955, 1948, 1976, 1938, 1989, 1944, 1957,
       2014, 2016, 1962, 1973, 2003, 1934, 1935, 1932, 1929, 1933, 1930,
       1931])

In [15]:
# next up - birth and death year
select['birth_year'] = select['birth_year'].replace([''],'0').fillna(0).astype(str).astype(int)
select['death_year'] = select['death_year'].replace([''],'0').fillna(0).astype(str).astype(int)
select.death_year.unique()

array([1992,    0, 1966, 1995, 1997, 1964, 2013, 1942, 1941, 1940, 2000,
       1976, 1949, 2008, 1973, 1953, 1991, 1971, 2010, 2011, 2007, 1994,
       1967, 1881, 1984, 2002, 1951, 1988, 1987, 1978, 1993, 1894, 1999,
       1975, 1996, 1969, 2012, 1983, 1989, 1959, 2003, 1936, 2006, 1961,
       1998, 1980, 1982, 1877, 1956, 1879, 1946, 1887, 1985, 2005, 1927,
       1952, 1871, 1931, 1960, 1948, 2009, 2004, 1965, 1955, 2001, 1981,
       1990, 1924, 1986, 1968, 1882, 1958, 2014, 2016, 1972, 1944, 1905,
       1938, 1902, 1934, 1979, 1963, 1954, 1898, 1903, 1950, 1922, 1893,
       1910, 1925, 1908, 1962, 1957, 1900, 1909, 1977, 1828, 1933, 1870,
       1896, 1916, 1930, 1970, 1885, 1947, 1943, 1929, 1912, 1919, 1937,
       1945, 1939, 2015, 1890, 1906, 1926, 1856, 1932, 1863, 1974, 1875,
       1913, 1878, 1928, 1901, 1920, 1917, 1935, 1886, 1876, 1889, 1883,
       1904, 1918, 1899, 1869, 1921, 1915, 2017, 1914, 1855, 1865, 1911,
       1907, 1884, 1872, 1895, 1880, 1891, 1874, 1923, 1888, 1857, 1892,
       1795, 1866, 1858, 1864, 1867, 1868, 1873, 1859, 1851, 1852])

In [16]:
# let's make sure all the artists, credit, title, and nationality casings are consistent
select["title"]= select["title"].str.title()
select["name_x"]= select["name_x"].str.title()
select["credit"]= select["credit"].str.title()
select["classification"]= select["classification"].str.title()
select['nationality']= select['nationality'].str.title()

In [17]:
# we can add new columns with meaningful information
select['age_at_acq'] = select['acquisition_year'] - select['birth_year'].astype(int)
select['age_at_death'] = select['death_year'] - select['birth_year']

In [18]:
# how do we handle cases where people died before art was acquired? missing birth year?
select.loc[select['age_at_acq'] > select['age_at_death'], 'age_at_acq'] = select['age_at_death']
select.loc[select['age_at_acq'] < 0, 'age_at_acq'] = select['acquisition_year'] - select['birth_year']
select.loc[select['death_year'] == 0, 'age_at_acq'] = select['acquisition_year'] - select['birth_year']
select.loc[select['death_year'] == 0, 'age_at_death'] = 0
select.loc[select['birth_year'] == 0, 'age_at_death'] = 0
select.loc[select['birth_year'] == 0, 'age_at_acq'] = 0
select.head()

,artwork_id,title,artist_id,name_x,date,acquisition_date,credit,classification,weight_kg,nationality,gender,birth_year,death_year,acquisition_year,age_at_acq,age_at_death
0,33599,Study For Head Bath,1,Robert Arneson,1977,4/28/1981,Gift Of The Friends Of Contemporary Drawing,Drawing,NaN,American,Male,1930,1992,1981,51,62
1,64139,General Nuke,1,Robert Arneson,1986,5/28/1997,Gift Of Landfall Press,Print,NaN,American,Male,1930,1992,1997,62,62
2,61629,Bas-Relief,2,Doroteo Arnaiz,NaN,3/9/1965,Gift Of The Artist,Print,NaN,Spanish,Male,1936,0,1965,29,0
3,45972,Honey Under Sink,3,Bill Arnold,1971,3/7/1972,Purchase,Photograph,NaN,American,Male,1941,0,1972,31,0
4,45997,Honey Under Chair,3,Bill Arnold,1971,3/7/1972,Purchase,Photograph,NaN,American,Male,1941,0,1972,31,0

In [19]:
select.loc[select['acquisition_year'] < 1, 'age_at_acq'] = 0
select.loc[select['age_at_acq'] > 110, 'age_at_acq'] = 0

In [20]:
select.sort_values(by='age_at_acq', ascending=False)

,artwork_id,title,artist_id,name_x,date,acquisition_date,credit,classification,weight_kg,nationality,gender,birth_year,death_year,acquisition_year,age_at_acq,age_at_death
104464,3863,Telephone,10762,"Siemens & Halske A.G., Munich",c. 1955,10/25/1956,Gift Of The Manufacturer,Design,NaN,German,Gender Unknown,1847,0,1956,109,0
104463,3862,Telephone,10762,"Siemens & Halske A.G., Munich",c. 1955,10/25/1956,Gift Of The Manufacturer,Design,NaN,German,Gender Unknown,1847,0,1956,109,0
104461,3860,Telephone,10762,"Siemens & Halske A.G., Munich",c. 1955,10/25/1956,Gift Of The Manufacturer,Design,NaN,German,Gender Unknown,1847,0,1956,109,0
104460,3859,Telephone,10762,"Siemens & Halske A.G., Munich",c. 1955,10/25/1956,Gift Of The Manufacturer,Design,NaN,German,Gender Unknown,1847,0,1956,109,0
113896,188563,Power Symbol,33082,International Electrotechnical Commission (Iec),2002,3/2/2015,NaN,Design,NaN,Swiss,Gender Unknown,1906,0,2015,109,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103212,141070,Untitled,8595,Unknown Photographer,c. 1910,10/7/2010,Gift Of Peter J. Cohen,Photograph,NaN,NaN,Gender Unknown,0,0,2010,0,0
103211,141069,Untitled,8595,Unknown Photographer,c. 1940,10/7/2010,Gift Of Peter J. Cohen,Photograph,NaN,NaN,Gender Unknown,0,0,2010,0,0
130261,217986,Unidentified,NaN,NaN,NaN,10/8/2008,The Gilbert And Lila Silverman Fluxus Collecti...,Media,NaN,NaN,Gender Unknown,0,0,2008,0,0
99096,3902,Cardboard Lamp,7979,Interware Sarl,1996,10/17/1997,Gift Of The Designer,Design,NaN,French,Male,2000,0,1997,-3,0
49581,7807,Nagauta Shamisen,3321,K2 Design Studio,1981,12/10/1981,"Gift Of The College Of Fine Arts, Ucla",Design,NaN,Japanese,Gender Unknown,1993,0,1981,-12,0

In [21]:
# let's see if any other columns have nan values
select.isna().any()

artwork_id          False
title                True
artist_id            True
name_x               True
date                 True
acquisition_date     True
credit               True
classification      False
weight_kg            True
nationality          True
gender              False
birth_year          False
death_year          False
acquisition_year    False
age_at_acq          False
age_at_death        False
dtype: bool

In [22]:
# let's clean up some of the other nan columns
select['name_x'] = select['name_x'].fillna('Artist Unnamed')
select['title'] = select['title'].fillna('Art Unnamed')
select['artist_id'] = select['artist_id'].fillna('0')
select['date'] = select['date'].fillna('0')
select['acquisition_date'] = select['acquisition_date'].fillna('0')
select['credit'] = select['credit'].fillna('0')
select['weight_kg'] = select['weight_kg'].fillna('0')
select['nationality'] = select['nationality'].fillna('Unknown')
select.isna().any()

artwork_id          False
title               False
artist_id           False
name_x              False
date                False
acquisition_date    False
credit              False
classification      False
weight_kg           False
nationality         False
gender              False
birth_year          False
death_year          False
acquisition_year    False
age_at_acq          False
age_at_death        False
dtype: bool

In [23]:
select.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 130261 entries, 0 to 130261
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   artwork_id        130261 non-null  object
 1   title             130261 non-null  object
 2   artist_id         130261 non-null  object
 3   name_x            130261 non-null  object
 4   date              130261 non-null  object
 5   acquisition_date  130261 non-null  object
 6   credit            130261 non-null  object
 7   classification    130261 non-null  object
 8   weight_kg         130261 non-null  object
 9   nationality       130261 non-null  object
 10  gender            130261 non-null  object
 11  birth_year        130261 non-null  int32
 12  death_year        130261 non-null  int32
 13  acquisition_year  130261 non-null  int32
 14  age_at_acq        130261 non-null  int32
 15  age_at_death      130261 non-null  int32
dtypes: int32(5), object(11)
memory usage: 18.4+ MB

In [24]:
select.head(25)
select['acquisition_date'] = pd.to_datetime((select['acquisition_date']), errors='coerce')
select['weight_kg'] = select['weight_kg'].astype(float).round(0).astype(int)
select.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 130261 entries, 0 to 130261
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   artwork_id        130261 non-null  object
 1   title             130261 non-null  object
 2   artist_id         130261 non-null  object
 3   name_x            130261 non-null  object
 4   date              130261 non-null  object
 5   acquisition_date  124798 non-null  datetime64[ns]
 6   credit            130261 non-null  object
 7   classification    130261 non-null  object
 8   weight_kg         130261 non-null  int32
 9   nationality       130261 non-null  object
 10  gender            130261 non-null  object
 11  birth_year        130261 non-null  int32
 12  death_year        130261 non-null  int32
 13  acquisition_year  130261 non-null  int32
 14  age_at_acq        130261 non-null  int32
 15  age_at_death      130261 non-null  int32
dtypes: datetime64[ns](1), int32(6), object(9)
memory usage: 17.9+ MB

In [25]:
select.head()

,artwork_id,title,artist_id,name_x,date,acquisition_date,credit,classification,weight_kg,nationality,gender,birth_year,death_year,acquisition_year,age_at_acq,age_at_death
0,33599,Study For Head Bath,1,Robert Arneson,1977,1981-04-28,Gift Of The Friends Of Contemporary Drawing,Drawing,0,American,Male,1930,1992,1981,51,62
1,64139,General Nuke,1,Robert Arneson,1986,1997-05-28,Gift Of Landfall Press,Print,0,American,Male,1930,1992,1997,62,62
2,61629,Bas-Relief,2,Doroteo Arnaiz,0,1965-03-09,Gift Of The Artist,Print,0,Spanish,Male,1936,0,1965,29,0
3,45972,Honey Under Sink,3,Bill Arnold,1971,1972-03-07,Purchase,Photograph,0,American,Male,1941,0,1972,31,0
4,45997,Honey Under Chair,3,Bill Arnold,1971,1972-03-07,Purchase,Photograph,0,American,Male,1941,0,1972,31,0

In [28]:
# the data is now cleaned and ready to be EDA'd
# let's export into a new file, so we can start a fresh EDA notebook

select.to_csv('cleaned_moma.csv', index=False)